.espaco {
    margin-bottom: 5.3rem;
}
.conteudo-principal {
    max-width: 370px;
    margin:  0 5%;
}
.espaco-novo {
    z-index: 0;
}
.conteudo-carrossel h1 {
    color: white;
    margin-top: 1.6rem;
    margin-bottom: 0.5px;
    font-family: var(--font-padrao);
}
.conteudo-carrossel h2 {
    color: #545656;
}
.carousel-control-prev {
    z-index: 0 !important;

}
.carousel-control-next{
    z-index: 0 !important;
}
.carousel-inner img {
    min-height: 530px !important;
    max-height: 890px !important;

    @media (min-width:460px) {
        min-height: 350px !important;
        max-height: 600px !important;
    }

}
.carousel-item  {
    position: relative !important;
}
.anime-container {
    display: flex;

}
.container-inner {
    display: flex;
    margin-left: 2%;
    position: absolute;
    top: 70%;
    @media (min-width:355px) {
        margin-left: 5%;
    }
    
    @media (min-width:410px) {
        top: 80%;
    }
    
}
.carousel-inner-anime {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2 !important;
    width: 500px;
    min-width: 300px ;

    background-color: #f47521;

    @media (max-width:304px) {
        width: 230px;
        min-width: 180px;
    }
    @media (max-width:409px) {
        max-width: 250px;
        min-width: 120px;
    }
    @media (min-width:470px) {
        max-width: 400px;
        min-width: 400px;
    }
    @media (min-width:410px) and (max-width:469px) {
        max-width: 360px;
        min-width: 200px;
    }
}
.carousel-inner-anime h2 {
    color: black !important;
    font-size: 1.8rem !important;
    padding: 5px 5px;
}
.bookmark {
    font-size: 3rem;
    color: #f47521;
    margin-left: 8px;
    border: 3px solid #f47521;
    padding: 5px;
}
