* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}
body {
    background-color: black !important;
}
.container-header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}
.container-conteudo {
    display: flex;
    flex-direction: column;
}
.nav-header {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    background-color: #232525;
    padding: 15px 0 ;
}
.nav-icon-flex {
    display: inline-block;
}

.nav-icon-flex .material-symbols-outlined {
    display: flex;
    justify-content: center;
    position: relative;
    top: 10%;
    font-size: 30px;
    color: #727272;
    font-weight: bold;
    position: relative;
    padding: 10px 0;
}
.icon-grid-3 {
    position: relative;
    top: 8%;
    font-size: 60px;
}
.icon-grid-2 {
    display: flex;
    justify-content: flex-end;
    padding-right: 6px;
}
.nav-img {
    display: flex;
    flex-direction: row;
}
.flex-img img {
    width: 50px;
    height: 49px;
    position: absolute;
    top: 20%;
}
.nav-img .nome-img {
    width: 110px;
    display: none;
}
.icon-grid {
    display: flex;
    justify-content: center;
}
.espaco {
    margin-bottom: 8rem;
}
.conteudo-principal {
    max-width: 370px;
    margin:  0 auto;
}
.espaco-novo {
    height: 50vh;
    z-index: 0;
}
.espaco-novo img {
    min-height: 34rem;
}
.conteudo-carrossel h1 {
    color: white;
    margin-top: 1.6rem;
    margin-bottom: 0.5px;
}
.conteudo-carrossel h2 {
    color: #545656;
}