@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

:root {
    --font-padrao: font-family: 'Lato', sans-serif;
}
body {
    background-color: black !important;
}

.container-header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}
.container-conteudo {
    display: flex;
    flex-direction: column;
}
.nav-header {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    background-color: #232525;
    padding:  0 0 5px;
}
.nav-icon-flex {
    display: inline-block;
}

.nav-icon-flex .material-symbols-outlined {
    display: flex;
    justify-content: center;
    position: relative;
    top: 5%;
    font-size: 28px;
    color: #727272;
    font-weight: bold;
    position: relative;
    padding: 10px 0;
}
.icon-grid-3 {
    position: relative;
    top: 8%;
    font-size: 0px;
}
.icon-grid-2 {
    display: flex;
    justify-content: flex-end;
}
.nav-img {
    display: flex;
    flex-direction: row;
}
.flex-img img {
    width: 45px;
    height: 44px;
    position: absolute;
    top: 0%;
}
.nav-img .nome-img {
    width: 110px;
    display: none;
}
.icon-grid {
    display: flex;
    justify-content: center;
}
